/*---------------------------------*/
/*-----{Buttons border shapes}-----*/
/*---------------------------------*/

button,
.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.option-96V44q,
.button-1ZiXG9.selected-LCBEAU,
.labelContainer-1BLJti,
.tabBar-ZmDY9v .item-3HknzM,
.card-3RzMcx,
.side-8zPYf6 .item-PXvHYJ,
.container-UC8Ug1,
.container-1nZlH6,
.sizeSmall-2cSMqn,
.sizeMedium-1AC_Sl,
.sizeXlarge-2yFAlZ,
.grow-q77ONN,
.button-2DhvE9,
.button-3Ijpww,
.button-2PWmas,
.wrapper-2aW0bm,
.lookGhost-2Fn_0-.colorGrey-2DXtkV,
.copyInput-2rOSt7,
.questionMark-CWEQZn,
.inner-2Y6JuD,
.connectionDelete-2Odoln,
.diversityEmojiItem-L6_IXw,
.emojiItem-14v6tW.emojiItemSelected-1aLkfV,
.categoryItem-1D0nxC,
.jumpButton-JkYoYK,
.jumpButton-3DTcS_,
.jumpButton-2dvRSC,
.result-oB0z--,
.button-1-5Aqk,
.button-2CgfFz,
.addMembersIcon-1Bz_VS,
.categoryPill-34fszg,
.topPill-30KHOu .item-PXvHYJ,
.selectableItem-1MP3MQ,
.selectable-3dP3y-,
.button-3HqqDX,
.button-Jt-tIg,
.stickerCategory-3Yz7vN,
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3,
.bd-button,
#bd-pub-button,
.bd-addon-list .bd-card-footer button,
#bd-settings-sidebar .ui-tab-bar-item,
#bd-settingspane-container .bd-pfbtn,
#bd-customcss-attach-controls button,
.ace_optionsMenuEntry button,
.replyer,
.styledGuildsAsChannels-DNHtg_ .wrapper-1Rf91z .wrapper-1BJsBx,
.styledGuildsAsChannels-DNHtg_ .wrapper-1Rf91z .circleIconButton-jET_ig,
#EditUploadsToolbar .tool,
.header-2-Imhb .tab-ck0077,
#permissions-modal-wrapper .role-item,
.listRow-hutiT_ {
   border-radius: var(--borders-buttons-1) !important;
}
.newMessagesBar-265mhP,
.container-2x5lvQ section {
   border-radius: 0 0 var(--borders-buttons-1) var(--borders-buttons-1);
}
.jumpToPresentBar-G1R9s6,
.messagesErrorBar-nyJGU7 {
   border-radius: var(--borders-buttons-1) var(--borders-buttons-1) 0 0;
}
.controlButton-2MhVEL foreignObject {
   mask: none;
   border-radius: var(--borders-buttons-1);
}
.button-1ZiXG9:hover,
.passthrough-1c2ewQ {
   border-radius: 0px;
}
.wrapper-2aW0bm :first-child {
   border-radius: var(--borders-buttons-1) 0 0 var(--borders-buttons-1);
}
.wrapper-2aW0bm :last-child,
.ace_searchbtn {
   border-radius: 0 var(--borders-buttons-1) var(--borders-buttons-1) 0 !important;
}
.layout-2DM8Md,
.content-3at_AU {
   border-radius: var(--borders-buttons-2);
}
.labelContainer-1BLJti,
.item-1tOPte,
.actionsStreamPreview-2JlX14 .buttonSize-2Pmk-w,
.actionsUserPopout-2MrzCa .buttonSize-2Pmk-w,
.actionsVoiceChannel-2Wte99 .buttonSize-2Pmk-w,
.listeningActionsUserPopout-Ga2V_N .buttonSize-2Pmk-w,
.listeningActionsVoiceChannel-1edvLq .buttonSize-2Pmk-w,
.applicationStreamingHoverText-IEVyfS,
.wrapper-3Rixsz,
.memberListItem-31QoHj,
.content-3xS9Lh,
#bd-editor-controls button,
.channelTabs-selected {
   border-radius: var(--borders-buttons-3) !important;
}
.item-3T2z1R:first-child {
   border-radius: var(--borders-buttons-3) 0 0 var(--borders-buttons-3);
}
.item-3T2z1R:last-child {
   border-radius: 0 var(--borders-buttons-3) var(--borders-buttons-3) 0;
}
.closeButton-1tv5uR,
.actionButton-uPB8Fs,
.actionButton-VzECiy,
.wrapper-129saQ,
.contextMenuNub-3yOOYo,
.button-F9qN4n,
.ace_searchbtn_close,
.powercord-quickcss-editor-settings .close,
.channelTabs-newTab {
   border-radius: var(--borders-buttons-4) !important;
}
.colorPickerSwatch-5GX3Ve.default-cS_caM,
.colorPickerSwatch-5GX3Ve.custom-2SJn4n,
.colorPickerSwatch-5GX3Ve {
   border-radius: var(--borders-buttons-5);
}
.gif-1TcNIB,
.categoryFade-2ybR1J,
.categoryFadeBlurple-1j72_A,
.result-3w1ZcL,
.result-3w1ZcL:after,
.sourceThumbnail-27dolk {
   border-radius: var(--borders-buttons-6);
}

/*----------------------------------*/
/*-----{Switches border shapes}-----*/
/*----------------------------------*/

.container-3auIfb,
.bd-switch,
.bd-switch::after {
   border-radius: var(--borders-switches);
}
.slider-TkfMQL rect {
   rx: var(--borders-switches);
}

/*------------------------------------*/
/*-----{Checkboxes border shapes}-----*/
/*------------------------------------*/

.checkbox-1ix_J3 {
   border-radius: var(--borders-checkboxes-large);
}
.checkbox-3kaeSU .checkboxInner-3yjcPe span {
   border-radius: var(--borders-checkboxes-small);
}

/*---------------------------------*/
/*-----{Sliders border shapes}-----*/
/*---------------------------------*/

.bar-2Qqk5Z,
.mediaBarInteractionVolume-3QZqYd {
   border-radius: var(--borders-slider-bars);
}
.fakeEdges-27pgtp:before {
   border-radius: var(--borders-slider-bars) 0 0 var(--borders-slider-bars);
}
.fakeEdges-27pgtp:after {
   border-radius: 0 var(--borders-slider-bars) var(--borders-slider-bars) 0;
}
.mini-dmm9yo .grabber-3mFHz2 {
   border-radius: var(--borders-slider-grabbers-1);
}
.grabber-3mFHz2,
.mediaBarGrabber-1FqnbN {
   border-radius: var(--borders-slider-grabbers-2);
}

/*---------------------------------------*/
/*-----{Progress bars border shapes}-----*/
/*---------------------------------------*/

.bar-3urHkF,
.barInner-3NDaY_,
.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o .sliderBar-3DezvM,
.bar-_YsHvC {
   border-radius: var(--borders-progress-bars) !important;
}

/*--------------------------------*/
/*-----{Inputs border shapes}-----*/
/*--------------------------------*/

.wrapper-1cBijl,
.input-2_SIlA,
.input-2A_zIr,
.inputDefault-_djjkz,
.container-cMG81i,
.inner-2P4tQO,
.textarea-2r0oV8,
.note-QfFU8y textarea,
.input-2VB9rf,
.searchBar-3dMhjb,
.searchBar-5di9mG,
.scrollableContainer-2NUZem,
.search-1iTphC .searchBox-2_mAlO,
.searchFilter-2ESiM3,
.searchAnswer-3Dz2-q,
.container-2XeR5Z,
.input-cIJ7To,
.channelTextArea-2VhZ6z.highlighted-2eSV1B,
.phoneVerificationModal-OzcDc3 .field-wKpjTl,
.gameNameInput-385LoS,
.bd-search-wrapper {
   border-radius: var(--borders-inputs);
}
.ace_search_field {
   border-radius: var(--borders-inputs) 0 0 var(--borders-inputs) !important;
}

/*----------------------------------*/
/*-----{Contexts border shapes}-----*/
/*----------------------------------*/

.menu-3sdvDG {
   border-radius: var(--borders-contexts);
}

/*---------------------------------*/
/*-----{Popouts border shapes}-----*/
/*---------------------------------*/

.userPopout-3XzG_A,
#status-picker,
.lookFilled-1h1y05.popout-2sKjHu,
.sizeMedium-6vZ9JV.select-1Pkeg4,
.emojiPicker-3PwZFl,
.popoutContainer-1MXdqN,
.container-2VW0UT,
.messagesPopoutWrap-1MQ1bW,
.container-enaOkj,
.contentWrapper-SvZHNd,
.diversitySelectorPopout-3FiGaM,
.autocomplete-3l_oCd,
.css-gvi9bl-control,
.css-17e1tep-control,
.css-118dehu-control,
.css-12hk9yc-control,
.css-1emou8a-control,
.container-3ayLPN,
.container-2x5lvQ,
.noiseCancellationPopout-iRK2A0,
.pictureInPictureWindow-1B5qSe,
.streamPreview-2-WUWT,
.container-3JTnYm,
.addGamePopout-2RY8Ju,
.autocompleteShadow-iiGWFU,
.container-VSDcQc,
.popoutList-T9CKZQ,
.viewAsRolesWarning-11eD70,
.popout-38lTFE,
.container-1JlpAi,
.container-2Uhd6d,
.bd-select,
.bd-select-transparent .bd-select-options,
.theme-dark div #ace_settingsmenu select,
.theme-dark div #ace_settingsmenu input[type=text] {
   border-radius: var(--borders-popouts);
}
.css-6fzn47-control,
.css-1adxh11-control,
.header-2C89wJ,
.bd-select.menu-open {
   border-radius: var(--borders-popouts) var(--borders-popouts) 0 0;
}
#inputContext > div.css-dwar6a-menu,
#inputContext > div.css-dwar6a-menu > div {
   border-radius: var(--borders-popouts) 0 0 0;
}
.css-1ye7vu0,
.css-ix84ef-menu,
.css-3vaxre-menu,
#inputContext > div.css-6fzn47-control,
.bd-select .bd-select-options {
   border-radius: 0 0 var(--borders-popouts) var(--borders-popouts);
}
.categoryList-2Kzf65,
.ace_search.right {
   border-radius: 0 0 0 var(--borders-popouts) !important;
}

/*--------------------------------*/
/*-----{Modals border shapes}-----*/
/*--------------------------------*/

.root-SR8cQa,
.root-1gCeng,
.quickswitcher-3JagVE,
.modal-yWgWj-,
.small-3iVZYw,
.keyboardShortcutsModal-3piNz7,
.bannedUserModal-3RJCOV,
.bd-modal-wrapper .bd-modal-inner,
#EditUploadsModal,
.themedPopout-1TrfdI,
#permissions-modal-wrapper #permissions-modal {
   border-radius: var(--borders-modals) !important;
}
.header-1TKi98 {
   border-radius: var(--borders-modals) var(--borders-modals) 0 0;
}
.footer-2gL1pp {
   border-radius: 0 0 var(--borders-modals) var(--borders-modals);
}
.contentWrapper-3WC1ID {
   border-radius: var(--borders-modals) 0 0 var(--borders-modals);
}
.inviteSplash-40aHus {
   border-radius: 0 var(--borders-modals) var(--borders-modals) 0;
}

/*---------------------------------*/
/*-----{Servers border shapes}-----*/
/*---------------------------------*/

.svg-1X37T1,
.wrapper-25eVIn foreignObject,
.guildIcon-3W0pfo foreignObject,
.categoryItemGuildCategory-3MisqI foreignObject,
.mask-2hO5M8 foreignObject,
[mask="url(#svg-mask-squircle)"] {
   mask: none;
   border-radius: var(--borders-servers);
}
.folderIconWrapper-226oVY,
.avatarUploaderInner-3UNxY3,
.iconSizeMedium-2OqPjI,
.iconActiveMedium-1UaEIR,
.iconActiveLarge-2nzn9z,
.iconActiveLarger-1L4Joi,
.iconInactive-98JN5i,
.guildIcon-nSLcmS,
.bd-server-icon,
.guild-J3Egt5 {
   border-radius: var(--borders-servers);
}
.voiceSectionAssets-1gjfmz,
.voiceSectionGuildImage-3HwnfL,
.voiceSectionNoGuildImageWrapper-TicZR3 {
   mask: none;
   -webkit-mask: none;
   border-radius: var(--borders-servers) !important;
}

/*----------------------------------------*/
/*-----{Servers badges border shapes}-----*/
/*----------------------------------------*/

.numberBadge-2s8kKX,
.base-PmTxvP {
   border-radius: var(--borders-server-badges);
}
.lowerBadge-29hYVK,
.upperBadge-2XnnGB {
   border: 4px solid var(--borders-color-server-badges) !important;
   border-radius: calc(var(--borders-server-badges) + 2px);
}
.lowerBadge-29hYVK {
   bottom: -4px;
   right: -4px;
}
.upperBadge-2XnnGB {
   top: -4px;
   right: -4px;
}

/*---------------------------------*/
/*-----{Unreads border shapes}-----*/
/*---------------------------------*/

.item-2hkk8m,
.unread-3zKkbm,
.unreadPill-2HyYtt {
   border-radius: 0 var(--borders-unreads) var(--borders-unreads) 0;
}

/*---------------------------------*/
/*-----{Avatars border shapes}-----*/
/*---------------------------------*/

.avatarUploaderInner-2EvNMg,
.avatarWrapperNormal-3wFMbf,
#AvatarHover {
   border-radius: var(--borders-avatars-1) !important;
}
.wrapper-3t9DeA,
.avatar-1BDn8e,
.appAvatar-3bgkQ9,
.avatar-3elDyV,
.avatar-2daVqv {
   border-radius: var(--borders-avatars-2);
}
.option-96V44q.user-O3Czj0 .displayAvatar-1wWlVM,
.avatar-3bWpYy,
.embedAuthorIcon--1zR3L,
.embedFooterIcon-239O1f,
.iconWrapper-1GmWXs,
.toast .toast-avatar {
   border-radius: var(--borders-avatars-3);
}
.avatarContainerMasked-PIJ-3L foreignObject {
   mask: none;
   border-radius: var(--borders-avatars-3);
}
.partyMember-1CzxeX {
   -webkit-mask: none;
   mask: none;
   margin-left: 4px;
   border-radius: var(--borders-avatars-3);
}
.avatarContainer-3CQrif,
.avatarContainerMasked-PIJ-3L {
   margin-right: 2px;
   margin-left: 2px;
}
.partyMemberOverflow-lXnzvu {
   margin-left: 4px;
}
.listItemTooltip-CDcY8J {
   max-width: 226px;
}
.wrapper-3t9DeA svg:not(:root) {
   overflow: visible;
}
.wrapper-3t9DeA:before {
   content: none !important;
}
.wrapper-3t9DeA foreignObject {
   -webkit-mask: none;
   mask: none;
}
.wrapper-3t9DeA rect {
   -webkit-mask: none;
   mask: none;
   width: 100%;
   height: 100%;
   x: 0;
   y: 0;
   display: block !important;
   rx: var(--borders-avatars-2) !important;
   ry: var(--borders-avatars-2) !important;
   fill: transparent !important;
   stroke-width: var(--borders-status-width);
}
.wrapper-3t9DeA .cursorDefault-dsQJ1n rect {
   x: -48;
   y: -53;
}
.wrapper-3t9DeA[style*="width: 80px;"] {
   position: relative;
   margin-right: 0 !important;
}
.wrapper-3t9DeA[style*="width: 80px;"] rect {
   width: 80px;
   height: 80px;
   pointer-events: none;
   rx: var(--borders-avatars-1) !important;
   ry: var(--borders-avatars-1) !important;
   border-radius: var(--borders-avatars-1) !important;
}
.wrapper-3t9DeA[style*="width: 80px;"]:after {
   top: unset;
   right: -2px;
   bottom: -2px;
   left: unset;
   transform: none;
}
.wrapper-3t9DeA[style*="width: 32px;"] rect {
   width: 32px;
   height: 32px;
   x: -14.5;
   y: -17;
   position: relative;
   border-radius: var(--borders-avatars-2) !important;
   z-index: 0;
}
.wrapper-3t9DeA rect[x="28"] {
   width: 40px;
   height: 40px;
   overflow: visible;
}
.wrapper-3t9DeA svg[width="25"][height="15"] > rect {
   rx: var(--borders-avatars-2) !important;
   ry: var(--borders-avatars-2) !important;
}
.wrapper-3t9DeA .mask-1l8v16 > rect[x="22"] {
   x: 0;
   y: 0;
}
.wrapper-3t9DeA rect[x="16"] {
   width: 24px;
   height: 24px;
   border-radius: var(--borders-avatars-2) !important;
}
.wrapper-3t9DeA .pointerEvents-2zdfdO[x="14.5"] {
   width: 30px;
   height: 30px;
   x: 1;
   y: 1;
   fill: rgba(0, 0, 0, 0.5) !important;
}
.wrapper-3t9DeA foreignObject[mask*=mobile]:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: var(--borders-avatars-2);
   z-index: 1;
}
.wrapper-3t9DeA[style*="width: 80px;"] foreignObject[mask*=mobile]:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: var(--borders-avatars-1);
   z-index: 1;
}
.wrapper-3t9DeA foreignObject[mask*=mobile]:after {
   content: "";
   -webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center/8px no-repeat;
   -webkit-mask-size: 30%;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: #43b581;
   transform: translate(-50%, -50%);
   z-index: 1;
}
.wrapper-3t9DeA > svg > foreignObject img {
   border-radius: var(--borders-avatars-2);
}
.wrapper-3t9DeA > svg > foreignObject[height="80"] img {
   border-radius: var(--borders-avatars-1);
}
.wrapper-3t9DeA > svg > foreignObject:not(:only-child) img {
   -webkit-clip-path: inset(2px round var(--borders-avatars-2));
   clip-path: inset(2px round var(--borders-avatars-2));
}
.wrapper-3t9DeA > svg > foreignObject:not(:only-child)[height="80"] img {
   -webkit-clip-path: inset(2px round var(--borders-avatars-1));
   clip-path: inset(2px round var(--borders-avatars-1));
}
.wrapper-3t9DeA > svg > foreignObject:not(:only-child) img {
   -webkit-clip-path: inset(calc(var(--borders-status-spacing) + 1px) calc(var(--borders-status-spacing) + 1px) round var(--borders-avatars-2));
   clip-path: inset(calc(var(--borders-status-spacing) + 1px) calc(var(--borders-status-spacing) + 1px) round var(--borders-avatars-2));
}
.wrapper-3t9DeA[style*="width: 80px;"] img {
   -webkit-clip-path: inset(calc(var(--borders-status-spacing) + 1px) calc(var(--borders-status-spacing) + 1px) round var(--borders-avatars-1));
   clip-path: inset(calc(var(--borders-status-spacing) + 1px) calc(var(--borders-status-spacing) + 1px) round var(--borders-avatars-1));
}
.message-1PNnaP .mask-1l8v16 img {
   -webkit-clip-path: circle(calc(19px - var(--borders-status-spacing)));
   clip-path: circle(calc(19px - var(--borders-status-spacing)));
}
.avatarHint-1qgaV3 foreignObject {
   -webkit-mask: none;
   mask: none;
}
.avatarHint-1qgaV3 .avatarHintInner-Dco91E {
   position: absolute;
   top: 2px;
   left: 2px;
   width: 76px;
   height: 76px;
   border-radius: var(--borders-avatars-1) !important;
}
.header-QKLPzZ .wrapper-3t9DeA {
   margin-right: 20px !important;
}
.avatar-3W3CeO {
   top: 1px;
   left: 1px;
}
.message-1PNnaP .mask-1l8v16 img {
   -webkit-clip-path: circle(18px);
           clip-path: circle(18px);
}
.memberOffline-2lN7gt img {
   -webkit-clip-path: none !important;
           clip-path: none !important;
}
.offline-3nJYBR img {
   -webkit-clip-path: none !important;
           clip-path: none !important;
}
.wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(1) {
   cy: -8 !important;
   cx: -8.5 !important;
}
.wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(2) {
   cy: -8 !important;
   cx: -2.25 !important;
}
.wrapper-3t9DeA .dots-3Bkt3k circle:nth-child(3) {
   cy: -8 !important;
   cx: 4 !important;
}
.wrapper-3t9DeA rect[fill="#43b581"], .wrapper-3t9DeA rect[fill="rgba(67, 181, 129, 1)"], .wrapper-3t9DeA rect[mask*=online] {
   stroke: #43b581;
}
.wrapper-3t9DeA rect[fill="#faa61a"], .wrapper-3t9DeA rect[fill="rgba(250, 166, 26, 1)"], .wrapper-3t9DeA rect[mask*=idle] {
   stroke: #faa61a;
}
.wrapper-3t9DeA rect[fill="#f04747"], .wrapper-3t9DeA rect[fill="rgba(240, 71, 71, 1)"], .wrapper-3t9DeA rect[mask*=dnd] {
   stroke: #f04747;
}
.wrapper-3t9DeA rect[fill="#593695"], .wrapper-3t9DeA rect[mask*=streaming] {
   stroke: #593695;
}
.wrapper-3t9DeA rect[fill="#747f8d"], .wrapper-3t9DeA rect[mask*=offline], .wrapper-3t9DeA rect[fill=NaN] {
   stroke: #747f8d;
}

/*---------------------------------*/
/*-----{Sidebar border shapes}-----*/
/*---------------------------------*/

.platform-win .sidebar-2K8pFh {
   border-radius: var(--borders-sidebar) 0 0;
}

/*---------------------------------*/
/*-----{Notices border shapes}-----*/
/*---------------------------------*/

.notice-3bPHh- {
   border-radius: var(--borders-notices) 0 0;
}

/*-------------------------------*/
/*-----{Cards border shapes}-----*/
/*-------------------------------*/

.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.cardPrimaryOutline-29Ujqw,
.cardPrimaryOutlineEditable-PEnpzz,
.cardHeader-Int16m,
.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover,
.emptyCard-1RJw8n,
.outer-1AjyKL,
.inset-3sAvek,
.applicationStreamingPreviewWrapper-8QqvVY,
.image-1npAv8,
.messageGroupWrapper-o-Zw7G,
.messageContainer-gbhlwo,
.messages-3G3erD,
.message-2qRu38,
.searchResultMessage-1fxgXh.hit-1fVM9e,
.searchResult-9tQ1uo.expanded-w_LCGl,
.background-1QDuV2,
.fieldList-21DyL8,
.accountList-33MS45,
.connection-1fbD7X,
.connectedAccount-36nQx7,
.codeRedemptionRedirect-1wVR4b,
.feature-2w65J5,
.featureEmoji-3pTtR2 .featureImage-2L9kA0,
.featureStickers-Pc_FBx .stickerImageSection-7EUs8E,
.promotionBanner-1fCSab,
.cardWrapper-2Min21,
.tier-1EY-yj,
.membershipDialog-rVL-t_,
.option-n0icdO,
.card-3AyPWq,
.card-3DjzTQ,
.card-3Qj_Yx,
.card-2Mz_4z,
.activeGame-14JI7o,
.card-FDVird:before,
.featureCard-1RR4Tl,
.auditLog-3jNbM6,
.header-GwIGlr,
.descriptionBox-1EKQKL,
.perksList-1vtwXn,
.perks-38PVEp,
.perk-2WeBWW,
.optionContainer-15srkc,
.wrapper-39oAo3,
.authBox-hW6HRx,
.bd-addon-list .bd-addon-card,
.bd-server-card,
.powercord-entities-manage-tabs {
   border-radius: var(--borders-cards) !important;
}
.connectionHeader-2MDqhu,
.featureProfile-tTo0C- .featureImage-2L9kA0,
.tierHeader-rlkkJd,
.tierHeader---JJFb,
.container-2fRDfG {
   border-radius: var(--borders-cards) var(--borders-cards) 0 0;
}
.featureBadge-3ZA-Ca .featureImage-2L9kA0 {
   border-radius: var(--borders-cards) 0 0 0;
}
.featureGoLive-30cvVw .featureImage-2L9kA0 {
   height: 100px;
}
.sticker-2cpdZp foreignObject {
   mask: none;
   border-radius: var(--borders-cards);
}

/*---------------------------------*/
/*-----{Banners border shapes}-----*/
/*---------------------------------*/

.hero-EvfTTA,
.wrapper-3nSjSv,
.image-2WjK2f,
.content-s2SEQO img {
   border-radius: var(--borders-banners);
}

/*----------------------------------*/
/*-----{Previews border shapes}-----*/
/*----------------------------------*/

.userSettingsVoice-iwdUCU .previewContainer-37c2Si,
.userSettingsVoice-iwdUCU .media-engine-video,
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
.cameraPreview-3VbjBn,
.wrapper-3jrx9n,
.preview-2nSL_2 {
   border-radius: var(--borders-previews);
}

/*-----------------------------------*/
/*-----{HypeSquad border shapes}-----*/
/*-----------------------------------*/

.houseLogoWrapper-3XZ6yo,
.quizResultLogoWrapper-1A5Eb1 {
   border-radius: var(--borders-hypesquad);
}

/*------------------------------------*/
/*-----{Activities border shapes}-----*/
/*------------------------------------*/

.assetsLargeImage-eYwpTX,
.large-1DtyYQ,
.medium-2wqF9d,
.activitySectionAssets-32WyHu .largeImage-DLXk-f {
   border-radius: var(--borders-activities-large);
}
.headerIcon-10Jegm,
.small-xOVx-r {
   border-radius: var(--borders-activities-small);
}
.activity-1ythUs .assetsSmallImage-3_3Bzj {
   background-color: var(--borders-color-activities-badge-profile) !important;
   border: 3px solid var(--borders-color-activities-badge-profile) !important;
   border-radius: var(--borders-activities-badge-large) !important;
   top: 72%;
   left: 71%;
}
.activity-11LB_k .assetsSmallImage-3_3Bzj {
   background-color: var(--borders-color-activities-badge-profile) !important;
   border: 2px solid var(--borders-color-activities-badge-profile) !important;
   border-radius: var(--borders-activities-badge-small) !important;
   top: 70%;
   left: 71%;
}
.streamPreview-2-WUWT .assetsSmallImage-3_3Bzj {
   background-color: var(--borders-color-activities-badge-voice) !important;
   border: 2px solid var(--borders-color-activities-badge-voice) !important;
   top: 70%;
   left: 71%;
}
.badge-1JXQev {
   border-radius: var(--borders-activities-badge);
}
.assetsLargeMaskProfile-1Qkfen,
.assetsLargeMaskStreamPreview-2V7xlA,
.assetsLargeMaskUserPopout-12EBBc,
.assetsLargeMaskVoiceChannel-2k1oGM {
   -webkit-mask: none;
   mask: none;
}

/*-------------------------------*/
/*-----{Icons border shapes}-----*/
/*-------------------------------*/

.avatarUploaderIndicator-2G-aIZ,
.tutorialIcon-3f1miQ,
.flag-16iIBd,
.iconWrapper-lS1uig,
.spinner-2OWD4A,
.spinner-3lb-NU,
.wrapper-pZmgj4a,
.emptyChannelIcon-cc932w,
.channelIcon-g61PDh,
.checkmark-3rush5,
.premiumLogo-1D3iJc,
.featureIcon-3p1TC_,
.artwork-1vrmJ_,
.status-254fhp,
.ServerFolders-modal .iconSwatch-_78Ghj {
   border-radius: var(--borders-icons-large);
}
.voiceSectionIconWrapper-FO7UEY,
.partyMemberOverflow-lXnzvu,
.blob-2w7iIK,
.wrapper-pZmgj4,
.content-s2SEQO ul li:before,
.tier-2c9-hT,
.tierMarker-5HkGJ_,
.textBadge-1iylP6,
.pillIcon-BaqtHs,
.emojiContainer-1u-_sQ,
.icon-3Oovq9,
.bd-server-tag {
   border-radius: var(--borders-icons-small) !important;
}
.moreUsers-7v8yWY {
   margin-left: 4px;
   border-radius: var(--borders-icons-small);
}
.moreUsers-7v8yWY:last-child {
   margin-left: 0px;
}
.regionSelectFlag-3uwFtG {
   border-radius: var(--borders-icons-small);
   background-color: transparent;
}
.iconBadge-qZ4Ksk,
.dotSeparator-2SMscJ,
.dotOnline-8Ag7EB,
.dotOffline-3DXoDy,
.status-2L8Zc7 {
   border-radius: var(--borders-icons-dots) !important;
}
.container-1r6BKw {
   -webkit-mask: none !important;
   mask: none !important;
}
.iconBadge-qZ4Ksk {
   box-shadow: 0 0 0 2px var(--borders-color-unread-pinned-message);
}

/*--------------------------------*/
/*-----{Labels border shapes}-----*/
/*--------------------------------*/

.ghostPill-2-KUPM,
.pill-1dHPfk {
   border-radius: var(--borders-labels-large);
}
.feature-3kpTdS,
.tierUnlocked-25K6Kv,
.guildDetails-2p1NmK,
.bar-30k2ka,
.label-9FgsSa,
.badge-_BgAUQ,
.featureStickers-Pc_FBx .fakeBuyButton-3XrfxO {
   border-radius: var(--borders-labels-small) !important;
}

/*-----------------------------------------*/
/*-----{Images and GIFs border shapes}-----*/
/*-----------------------------------------*/

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j,
.embedImage-2W1cML img,
.embedThumbnail-2Y84-K img,
.embedMedia-1guQoW,
.container-1_ClKi p>img,
.imageWrapper-2p5ogY,
.imageWrapper-2p5ogY img {
   border-radius: var(--borders-images) !important;
}

/*--------------------------------*/
/*-----{Videos border shapes}-----*/
/*--------------------------------*/

.embedImage-2W1cML video,
.embedThumbnail-2Y84-K video,
.embedVideo-3nf0O9 video,
.embedVideo-3nf0O9 img
.video-8eMOth,
.wrapperAudio-1jDe0Q,
.wrapperControlsHidden-35Gtol,
.wrapperPaused-19pWuK,
.wrapperPlaying-1pXOW5,
.videoWrapper-3YdgHH,
.bd-changelog-modal video {
   border-radius: var(--borders-videos) !important;
}

/*--------------------------------*/
/*-----{Audios border shapes}-----*/
/*--------------------------------*/

.wrapperAudio-1jDe0Q,
.audioControls-2HsaU6 {
   border-radius: var(--borders-audios);
}

/*--------------------------------*/
/*-----{Embeds border shapes}-----*/
/*--------------------------------*/

.embedFull-2tM8-- {
   border-radius: var(--borders-embeds) !important;
}

/*-----------------------------------*/
/*-----{Reactions border shapes}-----*/
/*-----------------------------------*/

.reaction-1hd86g {
   border-radius: var(--borders-reactions);
}

/*----------------------------------*/
/*-----{Mentions border shapes}-----*/
/*----------------------------------*/

.interactive {
   border-radius: var(--borders-mentions);
}

/*-------------------------------*/
/*-----{Roles border shapes}-----*/
/*-------------------------------*/

.role-2irmRk,
.role-1P70N6,
.roleColor-fHISxl {
   border-radius: var(--borders-roles-outline);
}
.roleCircle-3xAZ1j {
   border-radius: var(--borders-roles-dots);
}

/*------------------------------*/
/*-----{Tags border shapes}-----*/
/*------------------------------*/

.rem-2m9HGf.botTag-2WPJ74,
.px-10SIf7.botTag-2WPJ74,
.tagID {
   border-radius: var(--borders-tags);
}

/*---------------------------------------------*/
/*-----{Formatting toolbars border shapes}-----*/
/*---------------------------------------------*/

.toolbar-2bjZV7,
.bf-toolbar::before {
   border-radius: var(--borders-format-toolbars);
}

/*-------------------------------*/
/*-----{Codes border shapes}-----*/
/*-------------------------------*/

.markup-2BOw-j code.inline,
.markup-2BOw-j code,
.autocompleteQuerySymbol-1kyGZ5,
#bd-customcss-attach-controls .help-text .inline {
   border-radius: var(--borders-codes);
}

/*----------------------------------*/
/*-----{Spoilers border shapes}-----*/
/*----------------------------------*/

.spoilerText-3p6IlD {
   border-radius: var(--borders-spoilers);
}

/*--------------------------------*/
/*-----{Quotes border shapes}-----*/
/*--------------------------------*/

.blockquoteContainer-U5TVEi .blockquoteDivider-2hH8H6 {
   border-radius: var(--borders-quotes);
}

/*--------------------------------*/
/*-----{Toasts border shapes}-----*/
/*--------------------------------*/

.toast,
.bd-toast,
.powercord-toast,
.powercord-toast .header,
.small-1CUeBa {
   border-radius: var(--borders-toasts) !important;
}

/*----------------------------------*/
/*-----{Tooltips border shapes}-----*/
/*----------------------------------*/

.tooltip-2QfLtc,
.subscribeTooltipWrapper-32-Ce8 {
   border-radius: var(--borders-tooltips);
}

/*------------------------------------*/
/*-----{Scrollbars border shapes}-----*/
/*------------------------------------*/

.scrollbarGhost-2F9Zj2::-webkit-scrollbar-thumb,
.scrollbarGhost-2F9Zj2::-webkit-scrollbar-track,
.sidebarRegionScroller-3MXcoP::-webkit-scrollbar-thumb,
.contentRegionScroller-26nc1e::-webkit-scrollbar-thumb,
.contentRegionScroller-26nc1e::-webkit-scrollbar-track,
.scroller-1JbKMe::-webkit-scrollbar-thumb,
.scroller-2LSbBU::-webkit-scrollbar-thumb,
.scroller-2LSbBU::-webkit-scrollbar-track,
.scroller-2wx7Hm::-webkit-scrollbar-thumb,
.members-1998pB::-webkit-scrollbar-thumb,
.scrollableContainer-2NUZem::-webkit-scrollbar-thumb,
.scroller-305q3I::-webkit-scrollbar-thumb,
.scrollerBase-289Jih::-webkit-scrollbar-thumb,
.scroller-zPkAnE::-webkit-scrollbar-thumb,
.scroller-zPkAnE::-webkit-scrollbar-track,
.css-1ye7vu0::-webkit-scrollbar-thumb,
.role-scroller::-webkit-scrollbar-thumb,
.perm-side::-webkit-scrollbar-thumb {
   border-radius: var(--borders-scrollbars);
}

/*---------------------------------*/
/*-----{Editors border shapes}-----*/
/*---------------------------------*/

.ace_editor {
   border-radius: 0 0 var(--borders-editors) var(--borders-editors);
}
#bd-editor-controls {
   border-radius: var(--borders-editors) var(--borders-editors) 0 0;
}
.floating-window,
.powercord-quickcss,
.powercord-quickcss-editor-settings {
   border-radius: var(--borders-editors);
}
